

/*Performance Review Animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.review-content.animate-fadeIn {
    animation: fadeIn 1.5s ease forwards; 
    opacity: 0; 
}




/*Desktop View*/
@media (min-width: 769px) {

    .mobile-nav-bar,
    .mobile-year-menu,
    .mobile-crowdcoin,
    .mobilehomesegments {
        display: none;
    }

    .top-segment {
        height: 200px;
    }
}




/*Mobile View*/
    @media (max-width: 768px) {

        .allnavbar {
            left: 5%;
        }

        .desktop-nav-bar,
        .desktop-year-menu,
        .desktop-crowdcoin,
        .desktophomesegments {
            display: none;
        }

        .projectdetails,
        .performancereviewindex,
        .technicalskills,
        .top-segment-group {
            margin-top: 15px !important;
        }

        .technicalskills {
            width: auto;
        }

        .projectdetails {
            margin-bottom: 15px !important;
        }

    }

@media (max-width: 420px) {
    .allnavbar {
        left: 5%;
    }

    .desktop-nav-bar,
    .desktop-year-menu,
    .desktop-crowdcoin,
    .desktophomesegments {
        display: none;
    }


    .projectdetails,
    .performancereviewindex,
    .technicalskills,
    .top-segment-group {
        margin-top: 15px !important;
    }

    .technicalskills {
        width: auto;
    }

    .projectdetails {
        margin-bottom: 15px !important;
    }


}
